@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
  --darkBackground: #1d1c22;
  --highlightedText: #03fd9b;
  --text: #ffffff;
  --selectedText: #df2e38;
}
body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--highlightedText);
  border-radius: 7px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #00cc7d;
  cursor: pointer;
}

body::-webkit-scrollbar-track {
  background-color: var(--darkBackground);
}
body {
  font-family: "JetBrains Mono", monospace;
  background-color: var(--darkBackground);
  color: var(--text);
}
::selection {
  background: var(--selectedText);
  color: white;
  padding: 2px;
}

.full {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mainPage {
  
  /* width: 1178px; */
  /* width: 70%; */
  margin: 0 auto;
}