@keyframes boom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.98);
    }
    100% {
        transform: scale(1);
    }
}

.animate {
    animation: boom 1s linear;
}
.change-project-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 73vh;
    padding: 18px 10px;
}
.change-project-arrow:hover {
    cursor: pointer;
}
.rotateLeftArrow {
    transform: rotate(180deg);
}


@media screen and (max-width: 500px) {
    .change-project-arrow > svg {
        width: 30px;
        height: 30px;
    }
    .change-project-arrow {
        padding: 18px 0;
    }
}
@media screen and (max-width: 300px) {
    .change-project-arrow {
        max-width: 10%;
        padding: 35vh 0;
    }
}