.user-container {
    display: flex;
    height: 84vh;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 125px;
}
.collaboration-container {
    display: flex;
    align-items: center;
    width: 50%;
}
.collaboration-form-card {
    border-radius: 10px;
    padding: 40px 30px;
    width: 550px;
    height: 635px;
    box-sizing: border-box;
    background-color: rgba(62, 62, 62, 0.521);
    transition: transform 0.5s box-shadow 0.5s;
}
.collaboration-form-card:hover {
    transform: translateY(-2px);
    transition-duration: 0.5s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.collaboration-form-card:not(:hover) {
    transform: translateY(2px);
    transition-duration: 0.5s;
}
.collab-card-title {
    font-size: 32px;
    color: var(--highlightedText);
}
.collab-card-caption {
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 16px;
    color: rgb(160, 160, 160);
}