.contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99vw;
    height: 70vh;
    margin-top: 125px;
}
.user-container {
    display: flex;
    height: 79vh;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 1241px;
    box-sizing: border-box;
}
.collaboration-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 550px;
    margin: 0 20px;
    width: 49%;
    box-sizing: border-box;
}
.collaboration-form-card {
    border-radius: 10px;
    padding: 40px 30px;
    
    width: 99%;
    height: fit-content;
    box-sizing: border-box;
    background-color: rgba(62, 62, 62, 0.521);
    transition: transform 0.5s box-shadow 0.5s;
}
.collaboration-form-card:hover {
    transform: translateY(-2px);
    transition-duration: 0.5s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.collaboration-form-card:not(:hover) {
    transform: translateY(2px);
    transition-duration: 0.5s;
}
.collab-card-title {
    font-size: 32px;
    font-weight: 500;
    color: var(--highlightedText);
}
.collab-card-caption {
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 16px;
    color: rgb(160, 160, 160);
}

/* Media Queries */
@media screen and (max-width: 1059px) {
    .collaboration-container {
        margin-top: 40px;
        min-width: 564px;
        height: fit-content;
    }
}
@media screen and (max-width: 700) {
    .collaboration-form-card {
        background-color: red;
        height: fit-content;
    }
}
@media screen and (max-width: 600px) {
    .collaboration-container {
        min-width: 0px;
        width: 99%;
        height: fit-content;
    }
    .project-detail-input {
        font-size: 16px;
        height: 130px;
    }
}
@media screen and (max-width: 474px) {
    .collab-card-title {
        font-size: 22px;
    }
    .collab-card-caption {
        margin-top: 25px;
        font-size: 16px;
        padding-left: 2px;
        margin-bottom: 5px;
    }
    .collaboration-form-card {
        padding: 30px 15px;
        height: fit-content;
    }
    .contact-container {
        margin-top: 105px;
        height: fit-content;
    }
}