@keyframes flicker {
    0% {
        color: #03e289;
    }
    50% {
        color: #049058;
    }
    100% {
        color: #03e289;
    }
}

.about-me {
    visibility: visible;
    max-width: 680px;
    width: 100%;
    max-height: 600px;
    box-sizing: border-box;
}
.about-me-title {
    font-size: 26px;
    font-weight: 700;
    box-sizing: border-box;
}
.about-me-caption {
    font-size: 16px;
    font-weight: 200;
    color: rgb(174, 174, 174);
    margin-bottom: 20px;
    margin-top: 20px;
    padding-right: 16px;
    line-height: 1.8;
}
.about-me-card {
    display: flex;
    text-align: left;
    margin-right: 90px;
    justify-content: space-between;
    width: 96%;
    box-sizing: border-box;
    /* background-color: aquamarine; */
    margin: 2px;
    padding: 5px;
    /* gap: 80px; */
}
.about-me-info {
    text-align: left;
    /* min-width: fit-content; */
    width: 50%;
    box-sizing: border-box;
    margin: 10px 0;
    font-size: 14px;
    color: rgb(174, 174, 174);
    display: flex;
    align-items: center;
}
.about-me-info-link {
    text-align: left;
    margin-left: 15px;
    font-size: 18px;
    color: white;
    font-weight: 200;
    width: fit-content;
}
.flicker {
    color: #03e289;
    animation: flicker 1.8s infinite linear;
}


@media screen and (max-width: 760px) {
    .about-me-card {
        width: 100%;
        justify-content: flex-start;
        gap: 0px;
    }
    .about-me-info {
        width: fit-content;
        /* background-color: magenta; */
    }
    .about-me-card {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
    .about-me-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 450px) {
    .about-me-caption {
        box-sizing: border-box;
        width: 100%;
        padding-right: 20px;
    }
    .about-me {
        box-sizing: border-box;
        width: 100%;
    }
}
@media screen and (max-width: 400px) {
    .about-me-info-link {
        font-size: 17px;
    }
}
@media screen and (max-width: 350px) {
    .about-me-info {
        font-size: 13px;
    }
    .about-me-info-link {
        font-size: 15px;
        margin-left: 8px;
    }
    .about-me-caption {
        font-size: 15px;
    }
}
@media screen and (max-width: 310px) {
    .about-me-info {
        font-size: 12px;
    }
    .about-me-info-link {
        font-size: 14px;
        margin-left: 8px;
    }
}
@media screen and (max-width: 290px) {
    .about-me-name {
        position: absolute;
        margin-bottom: 30px;
        margin-left: 10px;
    }
    .about-me-info-link {
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .about-me-caption {
        font-size: 14px;
    }
}
@media screen and (max-width: 260px) {
    .about-me-info-link {
        font-size: 12px;
    }
    .about-me-info {
        font-size: 11px;
    }
    .about-me-caption {
        font-size: 13px;
    }
}