.education-title {
    font-size: 26px;
    font-weight: 700;
}
.education-caption {
    font-size: 16px;
    font-weight: 200;
    color: rgb(174, 174, 174);
    margin-bottom: 30px;
    margin-top: 30px;
    width: 74%;
    line-height: 2;
}
.education-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;
    align-items: flex-start;
    height: 360px;
    max-height: 360px;
    overflow-y : scroll;
    overflow-x: hidden;
}
.education-cards-container::-webkit-scrollbar {
    width: 7px;
}
.education-cards-container::-webkit-scrollbar-thumb {
    background-color: var(--highlightedText);
    border-radius: 7px;
}
.education-cards-container::-webkit-scrollbar-thumb:hover {
    background-color: #00cc7d;
}
.education-cards-container::-webkit-scrollbar-track {
    background-color: var(--darkBackground);
}

@media screen and (max-width: 425px) {
    .education-cards-container {
        justify-content: center;
    }
    .education-caption {
        box-sizing: border-box;
        width: 100%;
        padding-right: 20px;
    }
}

@media screen and (max-width: 360px) {
    .education-caption {
        font-size: 14px;
        margin: 0;
        margin: 10px 0;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 250px) {
    .education-title {
        font-size: 25px;
    }
}
@media screen and (max-width: 290px) {
    .education-course {
        font-size: 14px;
        margin: 0;
    }
}