@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#hero {
    position: absolute;
    z-index: 0;
    width: 35vw; /* Use viewport width for responsiveness */
    height: 35vw; /* Same as width for a circle */
    min-width: 418px;
    min-height: 418px; /* Ensure minimum height matches minimum width */
    background-color: transparent;
    margin: 10px 0;
}
#heroFrame {
    position: absolute;
    z-index: 0;
    width: 35vw; /* Use viewport width for responsiveness */
    height: 35vw; /* Same as width for a circle */
    min-width: 418px;
    min-height: 418px; /* Ensure minimum height matches minimum width */
    background-color: transparent;
    animation: rotate 20s linear infinite;
    margin: 10px 0;
    border-radius: 50%; /* Make it circular */
}
.heroImage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 560px;
    margin: 20px 0;
    height: 35vw;
    min-height: 418px;
    border-radius: 200px;
    /* background-color: indianred; */
}
@media screen and (max-width: 1205px) {
    .heroImage-container {
        margin-top: 20px;
        margin-bottom: 0px;
    }
}
@media screen and (max-width: 630px) {
    #hero {
        min-width: 0px;
        min-height: 0px; /* Ensure minimum height is also set */
        width: 73vw; /* Use viewport width for responsiveness */
        height: 73vw; /* Same as width for a circle */
    }
    #heroFrame {
        min-width: 0px;
        min-height: 0px; /* Ensure minimum height is also set */
        width: 75vw; /* Use viewport width for responsiveness */
        height: 75vw; /* Same as width for a circle */
    }
    .heroImage-container {
        width: 100%;
        min-height: 80vw;
    }
}
@media screen and (max-width: 398px) {
    .heroImage-container {
        min-height: 97vw;
    }
}