:root {
    --darkBackground: #1d1c22;
    --highlightedText: #03fd9b;
    --text: #ffffff;
    --selectedText: #df2e38;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.main__container {
    display: flex;
    height: 75vh;
    flex-wrap: wrap-reverse;
    margin-top: 125px;
    background-color: transparent;
}
.left {
    width: 55%;
    margin: auto;
}
.right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 45%;
    margin: auto;
    height: 56vh;
    border-radius: 300px;
}

/* Left  */
.main__work {
    font-size: 22px;
    margin-bottom: 7px;
    color: rgb(209, 209, 209);
}
.main__intro, .main__name {
    font-size: 80px;
    font-weight: 700;
}
.main__name {
    color: var(--highlightedText);
    margin-bottom: 30px;
}
.main__content {
    width: 80%;
    line-height: 2;
    font-size: 16px;
    color: rgb(165, 165, 165);
}
.main__btn-container {
    display: flex;
    align-items: center;
    margin-top: 40px;
    gap: 20px;
}
.outlined-btn {
    background-color: var(--darkBackground);
    
    border: 1px solid var(--highlightedText);
    border-radius: 50px;
    padding: 16px 31px;
    cursor: pointer;
}

.outlined-btn:hover {
    box-shadow: 0 10px 20px rgba(255, 0, 0, 0.2);

    color: var(--selectedText);
    border: 1px solid var(--selectedText);
}
.outlined-btn:hover .btn-flex {
    color: var(--selectedText);
}
.outlined-btn:hover svg {
    fill: var(--selectedText);
}
.outlined-links {
    display: flex;
    align-items: center;
    height: fit-content;
    background-color: var(--darkBackground);
    border: 1px solid var(--highlightedText);
    border-radius: 50px;
    padding: 10px 10px;
    cursor: pointer;
}
.outlined-links:hover svg {
    fill: var(--selectedText);
    background-color: var(--darkBackground);
}
.outlined-links:hover {
    border: 1px solid var(--selectedText);
    color: var(--selectedText);

    transform: translateY(-2px);
    transition-duration: 0.5s;
    box-shadow: 0 10px 20px rgba(255, 0, 0, 0.2);
}
.outlined-links:not(:hover) {
    transform: translateY(2px);
    transition-duration: 0.5s;
}


.btn-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--highlightedText);
    gap: 7px;
}


/* Right */
#hero {
    width: 100%;
    border-radius: 350px;
    margin: auto;
    background-color: transparent;
}
#heroBorder {
    position: absolute;
    z-index: 0;
    width: 32%;
    margin-left: 1px;
    margin-top: 5px;
    background-color: transparent;
    animation: rotate 20s linear infinite;
}