
@keyframes goCome {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.98);
    }
    100% {
        transform: scale(1);
    }
    
}

.pro__cover {
    margin-top: 125px;
    height: 77vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.project {
    display: flex;
    background-color: rgba(86, 86, 86, 0.15);
    width: 100%;
    border-radius: 10px;
}
.animate {
    animation: goCome 1s linear;
}
.project__left {
    width: 55%;
    padding: 0 20px;
    padding-top: 10px;
}
.project__right {
    display: flex;
    align-items: center;
    width: 45%;
    position: relative;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.project__right > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project__right > img:hover {
    width: 100%;
    height: fit-content;
    border-radius: 7px;
}
.project__right > img:hover .project__right {
    display: flex;
    align-items: center;
}
.right__card {
    border-top: 0.5px solid rgb(174, 174, 174);
    padding-top: 20px;
    padding-bottom: 10px;
}

.tag {
    font-size: 12px;
    color: var(--selectedText);
    border: 1px solid var(--selectedText);
    padding: 6px 10px;
    margin: 0 7px;
    border-radius: 25px;
}
.tag:hover {
    background-color: var(--selectedText);
    color: var(--darkBackground);
    cursor: pointer;
}

.project__link, .project__github {
    display: block;
    background-color: rgb(65, 65, 65);
    padding: 9px 12px;
    border-radius: 50px;
    transition: transform 0.5s box-shadow 0.5s;
}
.project__link:hover, .project__github:hover {
    transform: translateY(-2px);
    transition-duration: 0.5s;
    background-color: white;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.project__link:hover > svg, .project__github:hover > svg {
    fill: var(--darkBackground);
}
.project__link:not(:hover), .project__github:not(:hover) {
    transform: translateY(2px);
    transition-duration: 0.5s;
}
.right__card {
    display: flex;
    gap: 15px;
    margin: 20px 0;
}

.hang {
    padding-top: 20px;
    font-size: 70px;
    text-align: center;;
    font-weight: 700;
    position: absolute;
    top: 0;
    z-index: -1;
    color: rgb(33, 33, 33);
    text-shadow: -1px -1px 0 gray, 1px -1px 0 gray, -1px 1px 0 gray, 1px 1px 0 gray;
}




.project__number {
    font-size: 70px;
    font-weight: 750;
    color: rgb(48, 48, 55);
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}
.project__title {
    font-size: 35px;
    font-weight: 700;
    margin: 20px 0;
}
.project__content {
    font-size: 16px;
    color: rgb(174, 174, 174);
    margin-bottom: 20px;
    line-height: 2;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.changeSlide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 73vh;
    padding: 18px 10px;
}
.changeSlide:hover {
    cursor: pointer;
}
.rotate {
    transform: rotate(180deg);
}
