.resume {
    margin-top: 185px;
    display: flex;
}
.Resume__Left {
    width: 640px;
    /* background-color: red; */
}
.Resume__Right {
    width: 1120px;
}
.resume__title {
    font-size: 40px;
    font-weight: 700;
}
.resume__sub-title {
    font-size: 16px;
    color: rgb(174, 174, 174);
    width: 80%;
    margin-bottom: 30px;
    margin-top: 30px;
    line-height: 2;
}
.resume__btn {
    font-size: 16px;
    background-color: rgba(62, 62, 62, 0.521);
    padding: 12px 20px;
    margin: 20px 0;
    margin-right: 15%;
    border-radius: 7px;
    text-align: center;
}

.education__title {
    font-size: 26px;
    font-weight: 700;
}
.education__sub-title {
    font-size: 16px;
    font-weight: 200;
    color: rgb(174, 174, 174);
    margin-bottom: 30px;
    margin-top: 30px;
    width: 74%;
    line-height: 2;
}
.education__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    overflow-y : scroll;
    overflow-x: hidden;
    height: 360px;
}
.education__cards::-webkit-scrollbar {
    width: 7px;
}
.education__cards::-webkit-scrollbar-thumb {
    background-color: #00ff9d;
    border-radius: 7px;
}
.education__cards::-webkit-scrollbar-thumb:hover {
    background-color: #00cc7d;
}
.education__cards::-webkit-scrollbar-track {
    background-color: #1e1e1e;
}


.education__card {
    background-color: rgb(58 59 65 / 52%);
    width: 40%;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 7px;
    transition: transform 0.5s box-shadow 0.5s;
    cursor: pointer;
}
.education__card:hover {
    transform: translateY(-2px);
    transition-duration: 0.5s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.321);
}
.education__card:not(:hover) {
    transform: translateY(2px);
    transition-duration: 0.5s;
}
.education__year {
    color: var(--highlightedText);
    font-size: 14px;
    padding-bottom: 10px;
}
.education__org {
    display: flex;
    align-items: center;
    color: rgba(245, 245, 245, 0.521);
    font-size: 14px;
    padding-top: 10px;
}
.education__org::before {
    width: 5px;
    height: 5px;
    content: "";
    display: inline-block;
    background-color: var(--highlightedText);
    margin-right: 7px;
    border-radius: 10px;
}
.m {
    padding-top: 30px;
    padding-bottom: 30px;
}
.c {
    padding-top: 30px;
}






.aboutme {
    visibility: visible;
}
.aboutme__card {
    display: flex;
    text-align: left;
    margin-right: 90px;
    justify-content: space-between;
}
.aboutme__title {
    font-size: 26px;
    font-weight: 700;
}
.aboutme__sub-title {
    font-size: 16px;
    font-weight: 200;
    color: rgb(174, 174, 174);
    margin-bottom: 20px;
    margin-top: 20px;
    padding-right: 16px;
    line-height: 1.8;
}
.aboutme__head {
    text-align: left;
    width: 50%;
    margin: 10px 0;
    font-size: 14px;
    color: rgb(174, 174, 174);
    display: flex;
    align-items: center;
}
.aboutme__body {
    text-align: left;
    margin-left: 15px;
    font-size: 18px;
    color: white;
    font-weight: 200;
}
.aboutme__head:hover {
    color: var(--highlightedText);
    cursor: pointer;
}
.aboutme__body:hover, .aboutme__head:hover .aboutme__body {
    color: var(--selectedText);
}


.skills {
    visibility: visible;
}
.skills__title {
    font-size: 26px;
    font-weight: 700;
}
.skills__sub-title {
    width: 80%;
    font-size: 16px;
    font-weight: 200;
    color: rgb(174, 174, 174);
    margin-bottom: 20px;
    margin-top: 20px;
    padding-right: 16px;
    line-height: 2;
}
.skills__svg {
    padding: 30px 40px;
    background-color: rgb(58 59 65 / 52%);
    width: fit-content;
    border-radius: 7px;
    transition: transform 0.5s box-shadow 0.5s;
}
.skills__svg > svg {
    width: 60px;
    height: 60px;
    fill: white;
}
.skills__svg:hover > svg, .skills__svg:hover > svg > g, .skills__svg:hover > svg > g > circle, .skills__svg:hover > svg > path {
    width: 60px;
    height: 60px;
    fill: var(--highlightedText);
}
.skills__svg:hover {
    transform: translateY(-2px);
    transition-duration: 0.5s;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.321);
}
.skills__svg:not(:hover) {
    transform: translateY(2px);
    transition-duration: 0.5s;
}
.skills__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
}

.canva:hover > svg > path {
    fill: #1d1c22;
}

.active-r {
    background-color: var(--highlightedText);
    color: var(--darkBackground);
    font-weight: 700;
}

.passive-r:hover {
    background-color: rgb(64, 64, 64);
    color: white;
    cursor: pointer;
}