.services-cover {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.services-container {
    margin-top: 125px;
    max-width: 1254px;
    width: 100%;
}
.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    width: 100%;
    align-items: center;
    padding: 20px 40px;
    box-sizing: border-box;
}
.service-card {
    border-bottom: 0.5px solid rgb(93, 93, 93);
    width: 530px;
    box-sizing: border-box;
    margin: 20px 0;
    cursor: pointer;
}
.service-number {
    font-size: 70px;
    font-weight: 750;
    color: var(--darkBackground);
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}
.service-title {
    font-size: 50px;
    font-weight: 700;
    margin: 20px 0;
}
.about-service {
    font-size: 20px;
    color: rgb(174, 174, 174);
    margin-bottom: 30px;
    box-sizing: border-box;
    padding: 0 5px;
}
.short-service-text {
    margin-bottom: 60px;
}
.service-card:hover .service-title {
    color: var(--highlightedText);
}
.service-card:hover .service-number {
    text-shadow: -1px -1px 0 var(--highlightedText), 1px -1px 0 var(--highlightedText), -1px 1px 0 var(--highlightedText), 1px 1px 0 var(--highlightedText);
}

@media screen and (max-width: 1050px) {
    .services-container {
        margin-top: 85px;
    }
}
@media screen and (max-width: 600px) {
    .services-container {
        margin-top: 70px;
    }
}
@media screen and (max-width: 550px) {
    .service-number {
        font-size: 65px;
    }
    .service-title {
        font-size: 40px;
    }
    .about-service {
        font-size: 18px;
    }
}
@media screen and (max-width: 480px) {
    .service-number {
        font-size: 60px;
    }
    .service-title {
        font-size: 38px;
    }
    .about-service {
        font-size: 18px;
    }
    .services {
        gap: 10px;
        padding: 10px 10px;
        box-sizing: border-box;
    }
}
@media screen and (max-width: 404px) {
    .service-number {
        font-size: 50px;
    }
    .service-title {
        font-size: 35px;
        margin: 10px 0;
    }
    .about-service {
        font-size: 17px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 374px) {
    .service-number {
        font-size: 40px;
    }
    .service-title {
        font-size: 30px;
    }
}
@media screen and (max-width: 330px) {
    .service-number {
        font-size: 35px;
    }
    .service-title {
        font-size: 27px;
    }
    .about-service {
        font-size: 16px;
    }
}
@media screen and (max-width: 300px) {
    .service-number {
        font-size: 25px;
    }
    .service-title {
        font-size: 22px;
    }
    .about-service {
        font-size: 15px;
    }
}
@media screen and (max-width: 255px) {
    .service-number {
        font-size: 25px;
    }
    .service-title {
        font-size: 20px;
    }
    .about-service {
        font-size: 14px;
    }
}

@media screen and (max-width: 250px) {
    .services-container {
        margin-top: 420px;
    }
}