.services-container {
    margin-top: 125px;
    width: 100%;
}
.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    width: 100%;
    align-items: center;
    padding: 20px 40px;
    box-sizing: border-box;
}
.service-card {
    border-bottom: 0.5px solid rgb(93, 93, 93);
    width: 530px;
    box-sizing: border-box;
    margin: 20px 0;
    cursor: pointer;
}
.service-number {
    font-size: 70px;
    font-weight: 750;
    color: var(--darkBackground);
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}
.service-title {
    font-size: 50px;
    font-weight: 700;
    margin: 20px 0;
}
.about-service {
    font-size: 20px;
    color: rgb(174, 174, 174);
    margin-bottom: 30px;
    box-sizing: border-box;
    padding: 0 5px;
}
.short-service-text {
    margin-bottom: 60px;
}
.service-card:hover .service-title {
    color: var(--highlightedText);
}
.service-card:hover .service-number {
    text-shadow: -1px -1px 0 var(--highlightedText), 1px -1px 0 var(--highlightedText), -1px 1px 0 var(--highlightedText), 1px 1px 0 var(--highlightedText);
}